.vscode/
__pycache__/
data/
downloads/
zibot.egg-info/

build/
build.sh

migrations/
.venv/
.env

src/cache
config.*
!src/**/config.py

docker-data/
news.json
blacklist.json

exts/youtube.py

*.log

*.db
