GitPython == 2.1.15
aiogoogletrans == 3.3.2
aiohttp == 3.6.2
async_timeout == 3.0.1
discord.py == 1.5.0
epicstore_api == 0.0.4
praw == 7.1.0
python_dateutil == 2.8.1
python_dotenv == 0.14.0
pytz == 2020.1
requests == 2.24.0
youtube_dl == 2020.9.20
