# ----- pypi
GitPython == 2.1.15
aiogoogletrans == 3.3.2
aiohttp == 3.6.2
async_timeout == 3.0.1
beautifulsoup4==4.9.3
bs4==0.0.1
click == 7.1.2
fuzzywuzzy == 0.18.0
requests == 2.24.0
epicstore_api == 0.0.4
praw == 7.1.0
python_dateutil == 2.8.1
python-Levenshtein == 0.12.1
pytz == 2020.1
pyparsing == 2.4.7
TagScriptEngine == 2.3.0
uvloop == 0.14.0
zidiscord.py == 1.7.0

# ----- git
git+https://github.com/ShineyDev/prettify.py
