# --- pypi
aiohttp == 3.6.2

# --- databases, choose one! (or multiple if you want)
databases[sqlite] == 0.4.3
#databases[postgresql] == 0.4.3
#databases[mysql] == 0.4.3

click == 7.1.2
fuzzywuzzy == 0.18.0
python_dateutil == 2.8.1
python-Levenshtein == 0.12.1
pytz == 2021.1
pyparsing == 2.4.7
requests == 2.24.0
TagScriptEngine == 2.3.0
uvloop == 0.14.0
zidiscord.py == 1.7.2

# --- git
git+https://github.com/ShineyDev/prettify.py
